<script type="text/javascript">
  $(function(){
    var pusher  = new Pusher("<%= '6f51c830bd0175d960c7' %>");
    var channel = pusher.subscribe("channel");
    channel.bind("event", function(html) {
      $("ul").prepend(html);
    });
  });
  $(document).ready(function(){
    $("#post").click(function(){
      $.ajax({
        type: "POST",
        url: "/chat/create",
        data: "text="+$('#text').val(),
        success: function() {},
      });
    });
  })
</script>
<input type="text" id="text" />
<input type="button" id="post">送信</input>

<ul>
<li></li>
</ul>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

